@using EntityLayer.Concrete
@model List<Activity>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>Etkinik Adı</th>
        <th>Açıklama</th>
        <th>Tarih</th>
        <th>Durum</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Üyeler</th>

    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>@item.ActivityID</td>
    <td>@item.ActivityName</td>
    <td>@item.ActivityContent</td>
    <td>@item.ActivityDate</td>
    <td>@item.ActivityStatus</td>
    <td><a href="/AdminActivity/DeleteActivity/@item.ActivityID" class="btn btn-danger">Sil</a></td>
    <td><a href="/AdminActivity/EditActivity/@item.ActivityID" class="btn btn-warning">Güncelle</a></td>
    <td><a href="#" class="btn btn-primary">Üyeler</a></td>
</tr>
     }
</table>
<br />
<a href="/AdminActivity/AddActivity" class="btn btn-info">Yeni Etkinlik</a>

