@model EntityLayer.Concrete.Media

@{
    ViewBag.Title = "AddMedia";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Media Ekle</h2>
<br />
@using (Html.BeginForm("AddMedia", "Media", FormMethod.Post))
{
<div class="form-group">
    @Html.Label("Media")
    @Html.TextBoxFor(x => x.MediaSelf, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.MediaSelf)
    <br /><br />
    @Html.Label("Açıklama")
    @Html.TextBoxFor(x => x.MediaContent, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.MediaContent)

    <br /><br />
    <button class="btn btn-primary">Kaydet</button>
</div>
}
