@using EntityLayer.Concrete
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Media>


@{
    ViewBag.Title = "AllMedia";
    Layout = "~/Views/Shared/_NewsfeedLayout.cshtml";
}

@foreach (var item in Model)
{
    <div class="post-content">
        <a href="/Comment/CommentByMedia/@item.MediaID">
            <img src="@item.MediaSelf" alt="post-image" class="img-responsive post-image" />
        </a>
        <div class="post-container">
            <img src="@item.People.PeopleImage" alt="user" class="profile-photo-md pull-left" />
            <div class="post-detail">
                <div class="user-info">
                    <h5><a href="timeline.html" class="profile-link">@item.People.PeopleName</a> <span class="following">following</span></h5>
                    <p class="text-muted">Published a photo about @item.MediaAdded</p>
                </div>
                <div class="reaction">
                    <a class="btn text-green"><i class="icon ion-thumbsup"></i> 13</a>
                    <a class="btn text-red"><i class="fa fa-thumbs-down"></i> 0</a>
                </div>
                <div class="line-divider"></div>
                <div class="post-text">
                    <p>@item.MediaContent <i class="em em-anguished"></i> <i class="em em-anguished"></i> <i class="em em-anguished"></i></p>
                </div>
                <div class="line-divider"></div>
                <div class="post-comment">
                    <img src="~/social_tema/images/users/user-11.jpg" alt="" class="profile-photo-sm" />
                    <p><a href="#" class="profile-link">Diana </a><i class="em em-laughing"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
                </div>
                
                <div class="post-comment">
                @Html.Partial("Comment", "PeopleMedia")
                </div>
                <div class="post-comment">
                    <img src="~/social_tema/images/users/user-1.jpg" alt="" class="profile-photo-sm" />
                    <input type="text" class="form-control" placeholder="Post a comment">
                </div>
            </div>
        </div>
    </div>
}

@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("AllMedia", new { sayfa }), new PagedListRenderOptions
{
    LiElementClasses = new List<string>
    { "page-link" }
})