@using EntityLayer.Concrete
@model List<Media>

@{
    ViewBag.Title = "MyMedia";
    Layout = "~/Views/Shared/_NewsFeedLayout.cshtml";
}
<a href="/PeopleMedia/NewMedia/" class="btn btn-primary"> Add New Media</a>
<br />

<!-- Media
================================================= -->
<div class="media">
    <div class="row js-masonry" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": ".grid-sizer", "percentPosition": true }'>
        @*<div class="grid-sizer col-md-6 col-sm-6"></div>*@


        @foreach (var item in Model)
        {
            <div class="grid-item col-md-6 col-sm-6">
                <div class="media-grid">

                    <div class="img-wrapper" data-toggle="modal" data-target=".modal-@item.MediaID">
                        <img src="@item.MediaSelf" alt="" class="img-responsive post-image" />
                    </div>
                    <div class="media-info">
                        <div class="reaction">
                            <a class="btn text-green"><i class="fa fa-thumbs-up"></i> 47</a>
                            <a class="btn text-red"><i class="fa fa-thumbs-down"></i> 9</a>
                            <a class="btn btn-info btn-sm" href="/PeopleMedia/EditMedia/@item.MediaID">
                                <i class="fas fa-pencil-alt">
                                </i>
                                Edit
                            </a>
                            <a class="btn btn-danger btn-sm" href="/PeopleMedia/DeleteMedia/@item.MediaID">
                                <i class="fas fa-trash">
                                </i>
                                Delete
                            </a>
                        </div>
                        <div class="user-info">

                            <div class="user">
                                <br />

                            </div>
                        </div>  
                    </div>
                    
                    <!--Popup-->
                    <div class="modal fade modal-@item.MediaID" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="post-content">
                                <img src="@item.MediaSelf" alt="post-image" class="img-responsive post-image" />
                                <div class="post-container">
                                    <img src="@item.People.PeopleImage" alt="user" class="profile-photo-md pull-left" />
                                    <div class="post-detail">
                                        <div class="user-info">
                                            <h5><a href="timeline.html" class="profile-link">@item.People.PeopleName</a> <span class="following">following</span></h5>
                                            <p class="text-muted">@item.MediaAdded</p>
                                        </div>
                                        <div class="reaction">
                                            <a class="btn text-green"><i class="icon ion-thumbsup"></i> 13</a>
                                            <a class="btn text-red"><i class="fa fa-thumbs-down"></i> 0</a>
                                        </div>
                                        <div class="line-divider"></div>
                                        <div class="post-text">
                                            <p>@item.MediaContent Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. <i class="em em-anguished"></i> <i class="em em-anguished"></i> <i class="em em-anguished"></i></p>
                                        </div>
                                        <div class="line-divider"></div>
                                        <div class="post-comment">
                                            <img src="~/social_tema/images/users/user-11.jpg" alt="" class="profile-photo-sm" />
                                            <p><a href="timeline.html" class="profile-link">Diana </a><i class="em em-laughing"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
                                        </div>
                                        <div class="post-comment">
                                            <img src="~/social_tema/images/users/user-4.jpg" alt="" class="profile-photo-sm" />
                                            <p><a href="timeline.html" class="profile-link">John</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
                                        </div>
                                        <div class="post-comment">
                                            <img src="~/social_tema/images/users/user-1.jpg" alt="" class="profile-photo-sm" />
                                            <input type="text" class="form-control" placeholder="Post a comment">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--Popup End-->
                </div>
            </div>
        }
        </div>
</div>





<!-- Post Content
================================================= -->
