@model EntityLayer.Concrete.SchoolPart
@{
    ViewBag.Title = "AddSchoolPart";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Bölüm Ekle</h2>
<br />
@using (Html.BeginForm("AddSchoolPart", "SchoolPart", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Bölüm Adı")
        @Html.TextBoxFor(x => x.ScpartName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.ScpartName)
        <br /><br />
        @Html.Label("Okul Adı")
        @Html.DropDownListFor(x=>x.SchoolID, (List<SelectListItem>)ViewBag.vls, new { @class = "form-control" })
        <br /><br />
        <button class="btn btn-primary">Kaydet</button>
    </div>
}
